/* Шрифты */
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Кастомные переменные */

:root {

  /* Шрифты*/

  --font-family-basic: "PTSans", "Arial", sans-serif;

  /* Фоны */

  --body-bg-color: #f2f2f2;
  --basic-bg-color: #FFFFFF;
  --bg-color-first: #82B3D3;
  --bg-color-second: #83B3D333;
  --bg-color-third: #83B3D31F;
  --bg-color-fourth: #7DB54F;

  --bg-color-images: #021a1a8a;

  /*Кнопки*/

  --btn-bg-one: #756157;

  /*Цвета текстов*/

  --text-color-middle: #333333;
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-bg-color);
  box-shadow:
    -10px 0 15px -5px rgba(0, 0, 0, 0.2),
    10px 0 15px -5px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--font-family-basic);
  font-size: 22px;
  line-height: 26px;
  background-color: var(--body-bg-color);
  color: var(--text-color-middle);
  padding: 0 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
p {
  white-space: pre-line;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  margin: 0;
  padding: 0 70px;
  display: flex;
  gap: 30px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin: 0;
  padding: 20px 16px;
}

.navigation-link {
  color: var(--text-color-dark);
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.button {
  color: var(--text-color-light);
  background-color: var(--btn-bg-one);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  width: 160px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.navigation-user-list {
  display: flex;
  align-items: center;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.hero {
  background-image: url("../images/svg/hero/hero-devider.svg"),
    url("../images/background/hero-background.jpg");
  background-color: var(--bg-color-images);
  background-position: bottom, top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  padding: 51px 371px 82px;
  display: flex;
  justify-content: center;
  margin: 0 0 69px;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 64px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto 25px;
  width: 620px;
  height: 72px;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.advantages-description {
  font-family: var(--font-family-basic);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 69px;
  padding: 0;
  color: var(--text-color-middle);
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 385px 385px 385px;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 385px;
  background-color: var(--bg-color-first);
}

.advantages-item img {
  width: 100%;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(6) {
  grid-column: span 2;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: transparent;
}

.advantages-item:nth-child(4) {
  background-color: var(--bg-color-second);
}

.card {
  color: var(--text-color-light);
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-light h3 {
  color: var(--text-color-dark);

}

.card-light p {
  color: var(--text-color-middle);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.card-title {
  margin: 0 0 60px;
  padding: 0;
  width: 175px;
  min-height: 56px;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.card-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: var(--text-color-light);
  transform: translateX(-50%)
}

.card-title-middle::after {
  background-color: var(--text-color-middle);
}

.card-title-services {
  margin: 0 0 30px 0;
  min-height: 28px;
}

.card-title-services::after {
  background-color: transparent;
}

.card-description {
  margin: 0;
  padding: 0;
  width: 230px;
  min-height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-description-services {
  width: 230px;
}

.services {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 385px;
  width: 100%;
}

.services-item {
  background-color: var(--bg-color-third);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.services-item:nth-child(2) {
  background-color: transparent;
}

.services-title {
  margin: 0 0 20px 0;
  padding: 0;
  width: 505px;
  text-align: center;
}

.services-description {
  margin: 0 0 64px 0;
  padding: 0;
}

.booking {
  margin: 0;
  padding: 96px 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-title {
  margin: 0 0 20px 0;
  padding: 0;
  width: 297px;
  height: 36px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.booking-description {
  margin: 0 0 54px 0;
  padding: 0;
  width: 592px;
  height: 52px;
  text-align: center;
}

.button-booking {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-image: url("../images/background/subscribe-background.jpg");
  background-color: var(--bg-color-images);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 20px 0;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription-form {
  display: flex;
}

.button-subscription {
  background-color: var(--bg-color-first);
}

.subscription-title {
  margin: 0 0 20px 0;
  padding: 0;
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin: 0 0 54px 0;
  padding: 0;
  color: var(--text-color-light);
  width: 475px;
  height: 53px;
  font-family: var(--font-family-basic);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.contacts-phone {
  font-family: var(--font-family-basic);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

/*---------------------Catalog----------------------------------------*/

.catalog-hero {
  background-image: url("../images/background/filter.jpg");
  background-color: var(--bg-color-images);
  color: var(--text-color-light);
  flex-direction: column;
  padding: 0;
  margin: 0 0 50px 0;
}

.catalog-hero-title {
  margin: 0 0 8px 0;
  padding: 0;
  width: 494px;
  height: 78px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hero-breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.hero-filter-group legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.search-result {
  margin: 0 0 40px 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
}

.button-apply {
  background-color: var(--bg-color-first);
}

.button-reset {
  background-color: transparent;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.card-image {
  background-color: var(--bg-color-images);
}

.select-control option {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-middle);
}

.product-list {
  list-style: none;
  margin: 0 0 90px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
}

.product-card {
  width: 340px;
  height: 438px;
  padding: 20px;
}

.product-card-image {
  background-color: var(--bg-color-images);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.product-button-wrapper {
  display: flex;
}

.button-favorite {
  background-color: var(--bg-color-first);
}

.button-favorite-checked {
  background-color: var(--bg-color-fourth);
}

.product-card-title {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-middle);
}

.rating {
  display: block;
  background-color: var(--body-bg-color);
  color: var(--text-color-middle);
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: var(--bg-color-first);
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: var(--body-bg-color);
  color: var(--text-color-dark);
}

.pagination-link-points {
  color: var(--text-color-dark);
}

.subscription-hotels {
  background-image: none;
  background-color: transparent;
  color: var(--text-color-dark);
}

.subscription-hotels h2 {
  color: var(--text-color-dark);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-hotels p {
  color: var(--text-color-middle);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mail-input {
  background-color: var(--body-bg-color);
}

.button-mail {
  background-color: var(--bg-color-first);
}
